# Java Arrays
- An **array** is a collection of variables of the same type
 
## Declaring an Array
- General Form: type[] arrayName;
- only creates a reference
- no array has  actually been created yet
 
## Creating an Array (Instantiation)
- General form:  arrayName = new type[numberOfElements];
- numberOfElements must be a positive Integer.
- Gotcha: Array size is not modifiable once instantiated.
 
# I am also being checked for testing
 
# I am a tester file
- I only exist for testing
- and nothing else
- it's kinda sad if you think about it :")
 
## I am a sub heading file
 
# Vectors
- Vectors act like resizable arrays
 
## Declaring a vector
- General Form: Vector<type> v = new Vector();
- type needs to be a valid reference type
 
## Adding an element to a vector
- v.add(object of type);
- I am important
- was i read?
